.header {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 70px;
  font-size: 1rem;
  z-index: 100;
  background-color: #e08f15;
  color: #fff;
}
.header__nav {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__nav__logo {
  font-size: 1.6em;
}
.header__nav__categorys {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.header__nav__categorys li {
  margin: 0;
  padding: 0;
}
.header__nav__categorys li a {
  text-decoration: none;
  padding: 0.5em 1.2em;
  border-radius: 8px;
  transition: 0.4s ease all;
}
.header__nav__categorys li a:hover {
  background-color: #e49c31;
}
.header__nav__btnCategorysResponsive {
  background: none;
  border: none;
  font-size: 1.6em;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.05em 0.4em;
  display: none;
}
.header__nav__btnCategorysResponsive:focus {
  border: 2px solid #fff;
}

@media only screen and (max-width: 575px) {
  .header {
    font-size: 0.9rem;
  }
  .header__nav__categorys {
    display: none;
    position: absolute;
    top: 70px;
    right: -10vw;
    width: 100vw;
    background-color: #e08f15;
    flex-direction: column;
    align-items: center;
  }
  .header__nav__categorys li a {
    display: block;
    width: 100vw;
    text-align: center;
    padding: 0.8em 0;
    border-top: 1px solid #ebb360;
  }
  .header__nav__categorys.show {
    display: block;
  }
  .header__nav__btnCategorysResponsive {
    display: block;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .header {
    font-size: 0.9rem;
  }
  .header__nav__categorys {
    display: none;
    position: absolute;
    top: 70px;
    right: -10vw;
    width: 100vw;
    background-color: #e08f15;
    flex-direction: column;
    align-items: center;
  }
  .header__nav__categorys li a {
    display: block;
    width: 100vw;
    text-align: center;
    padding: 0.8em 0;
    border-top: 1px solid #ebb360;
  }
  .header__nav__categorys.show {
    display: block;
  }
  .header__nav__btnCategorysResponsive {
    display: block;
  }
}
main {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  min-height: calc(100vh - 70px);
}
main .presentation {
  width: 90%;
  height: 100%;
  padding: 6em 0;
  margin: 0 auto;
  color: #e7e7e7;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
main .presentation__information {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
main .presentation__information__titles p {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 2px;
}
main .presentation__information__titles h1 {
  font-size: 4.9em;
  font-weight: 500;
  letter-spacing: 4px;
  margin: 0.1em 0;
}
main .presentation__information__titles__welcome {
  font-weight: 600;
  font-style: normal;
  color: #ffa724;
}
main .presentation__information__subtitles h2 {
  font-size: 1.3em;
  font-weight: 400;
  text-align: right;
}
main .presentation__img {
  height: 400px;
}
main .presentation__img img {
  height: 100%;
  border-radius: 40px;
  transition: 0.7s ease all;
  padding: 1em;
  cursor: pointer;
}
main .presentation__img img:hover {
  filter: drop-shadow(1px 1px 5px #dad6d6);
}

#welcome {
  display: none;
  opacity: 0;
}

@media only screen and (max-width: 575px) {
  main {
    font-size: 0.85rem;
  }
  main .presentation {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }
  main .presentation__information {
    margin-top: 0;
    justify-content: center;
    gap: 0.5em;
  }
  main .presentation__information__titles p {
    font-size: 1.8em;
    text-align: center;
  }
  main .presentation__information__titles h1 {
    text-align: center;
  }
  main .presentation__img {
    height: 380px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  main {
    font-size: 0.95rem;
  }
  main .presentation {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }
  main .presentation__information {
    margin-top: 0;
    justify-content: center;
    gap: 0.5em;
  }
  main .presentation__information__titles p {
    font-size: 1.8em;
    text-align: center;
  }
  main .presentation__information__titles h1 {
    text-align: center;
  }
  main .presentation__img {
    height: 380px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  main {
    font-size: 0.9rem;
  }
  main .presentation {
    width: 95%;
    padding: 4em 0;
    gap: 1em;
  }
  main .presentation__information__titles p {
    font-size: 1.8em;
    text-align: center;
  }
  main .presentation__information__titles h1 {
    text-align: center;
  }
  main .presentation__img {
    height: 380px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: #fff;
}
* a:hover {
  color: #fff;
}
* p {
  margin: 0;
  padding: 0;
}
* h1 {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #393E41;
}

.animado {
  opacity: 0;
  transition: 0.5s all;
}

.animado2 {
  opacity: 0;
  transition: 0.5s all;
}

.animado3 {
  opacity: 0;
  transition: 0.5s all;
}

.mostrarDerecha {
  animation: mostrarDerecha 1s;
}

.mostrarArriba {
  animation: mostrarArriba 1s;
}

.mostrarAbajo {
  animation: mostrarAbajo 1s;
}

@keyframes mostrarDerecha {
  0% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes mostrarArriba {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes mostrarAbajo {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}
.max-width {
  padding: 0 80px;
  margin: 0;
}

/* ---------------ABOUT ME-------------------- */
.aboutMe {
  font-size: 16px;
  min-height: 100vh;
  margin: 0 auto;
  color: #FFF;
}
.aboutMe__title {
  font-size: 1.8em;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin-top: 1em;
}
.aboutMe__text {
  font-family: "Nanum Gothic", sans-serif;
  text-align: center;
  font-style: oblique;
  font-size: 1.3em;
  text-align: justify;
}
.aboutMe__information {
  margin: auto 0;
}
.aboutMe__skills {
  margin: auto 0;
}
.aboutMe__skills__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  overflow: hidden;
  padding: 1em;
  gap: 1.5em;
}
.aboutMe__skills__container__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutMe__skills__container__logo img {
  width: 100%;
  height: auto;
  transition: 1.7s ease all;
}
.aboutMe__skills__container__logo img:hover {
  transform: rotate(360deg);
  filter: drop-shadow(1px 1px 4px #dad6d6);
  cursor: pointer;
}
.aboutMe__skills__container__logo__description {
  color: #ffa724;
  font-family: "Ubuntu", sans-serif;
  font-style: oblique;
  font-size: 0.9em;
  text-align: center;
  font-weight: 400;
}

/* ---------------END ABOUT ME-------------------- */
.sectionTitle {
  margin: 0;
  text-align: center;
  padding-top: 3em;
  color: #FFF;
}

.projects {
  font-size: 16px;
  color: #FFF;
  padding: 2em 0;
}
.projects__item {
  margin: 2em 0;
}
.projects__item__image {
  height: 22em;
}
.projects__item__image.sportshop {
  background: url("../asetts/sportshop.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.projects__item__image.simonDice {
  background: url("../asetts/simonDice.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.projects__item__image.utilitiesApp {
  background: url("../asetts/utilitiesApp.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.projects__item__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
}
.projects__item__description__title {
  font-size: 2em;
  font-family: "Ubuntu", sans-serif;
  margin-top: 1em;
}
.projects__item__description__comment {
  font-family: "Nanum Gothic", sans-serif;
  font-style: oblique;
  font-size: 1.1em;
  text-align: center;
}
.projects__item__description__container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.projects__item__description__container__button {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  color: #ffa724;
  font-size: 1.2em;
  padding: 0.3em 2.5em;
  border: 2px solid #e08f15;
  border-radius: 20px;
  transition: 0.5s ease all;
}
.projects__item__description__container__button:hover {
  color: #FFF;
  background-color: #e08f15;
}

/* FOOTER */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4D5050;
  padding: 0.4em 0;
  font-size: 16px;
}
.footer__info p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4em;
  color: #DCD8D8;
  margin: 0;
}
.footer__social {
  flex-direction: row;
}
.footer__social__logo a i {
  margin: 0.1em 0.4em;
  font-size: 2.5em;
  color: #DCD8D8;
}
.footer__social__logo a i:hover {
  filter: drop-shadow(1px 0px #DCD8D8);
  cursor: pointer;
}

@media only screen and (max-width: 575px) {
  .max-width {
    padding: 0 15px;
  }

  .presentation {
    font-size: 15px;
    padding: 2em 0;
    min-height: 50vh;
  }
  .presentation__description__title p {
    font-size: 1.7em;
  }
  .presentation__description__title h1 {
    font-size: 3.1em;
  }
  .presentation__description__subTitle {
    margin: 0.2em auto;
  }
  .presentation__description__subTitle h2 {
    font-size: 1.2em;
    text-align: center;
  }
  .presentation__img {
    height: 22em;
    margin: 0;
  }

  .aboutMe {
    font-size: 14px;
    min-height: 50vh;
  }
  .aboutMe__title {
    margin-top: 0.4em;
  }
  .aboutMe__text {
    padding: 0 0.5em;
  }
  .aboutMe__skills__container {
    grid-template-columns: 1fr 1fr;
  }
  .aboutMe__skills__container__logo img {
    width: 8em;
  }
  .aboutMe__skills__container__logo__description {
    font-size: 0.95em;
  }

  .projects {
    font-size: 14px;
  }
  .projects__item {
    margin: 0;
  }
  .projects__item__image {
    background-position: bottom;
    height: 18em;
    padding: 0;
  }
  .projects__item__description {
    padding: 1em;
  }

  .footer {
    font-size: 14px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .max-width {
    padding: 0 30px;
  }

  .presentation {
    font-size: 16px;
    min-height: 75vh;
    padding: 2em 0;
  }
  .presentation__img {
    height: 22em;
  }

  .aboutMe {
    font-size: 15px;
  }
  .aboutMe__title {
    margin-top: 0.4em;
  }
  .aboutMe__skills__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .aboutMe__skills__container__logo img {
    width: 7em;
  }
  .aboutMe__skills__container__logo__description {
    font-size: 0.95em;
  }

  .footer {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .presentation {
    font-size: 15px;
    min-height: 60vh;
  }
  .presentation__img {
    height: 20em;
  }
  .presentation__description__title h1 {
    font-size: 4em;
  }

  .aboutMe {
    font-size: 15px;
  }
  .aboutMe__title {
    margin-top: 0.4em;
  }
  .aboutMe__skills__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .aboutMe__skills__container__logo img {
    width: 7.5em;
  }
  .aboutMe__skills__container__logo__description {
    font-size: 0.95em;
  }

  .footer {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
