.projects {
    font-size: 16px;
    min-height: calc(100vh - 60px);
    color: #FFF;
    display: flex;
    flex-direction: column;
    &__item {
        margin: 2em 0;
        padding-bottom: 1em;
        &__image {

            height: 22em;

            &.sportshop {
                background: url('../asetts/sportshop.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }

            &.simonDice {
                background: url('../asetts/simonDice.jpeg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }

            &.utilitiesApp {
                background: url('../asetts/utilitiesApp.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            &.musicShop{
                background: url('../asetts/musicShop.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }

        }

        &__description {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1em 2em;
            gap: 1em;

            &__title {
                font-size: 2em;
                font-family: 'Ubuntu', sans-serif;
                margin-top: 1em;
            }

            &__comment {
                font-family: 'Nanum Gothic', sans-serif;
                font-style: oblique;
                font-size: 1.1em;
                text-align: center;
            }

            &__container {
                display: flex;
                width: 100%;
                justify-content: space-evenly;

                &__button {
                    text-decoration: none;
                    font-family: 'Ubuntu', sans-serif;
                    color: #ffa724;
                    font-size: 1.2em;
                    padding: .3em 2.5em;
                    border: 2px solid #e08f15;
                    border-radius: 20px;
                    transition: .5s ease all;

                    &:hover {
                        color: #FFF;
                        background-color: #e08f15;
                    }
                }
            }

        }
    }
}