*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
.animado{
    opacity: 0;
    transition: .5s all;
}
.animado2{
    opacity: 0;
    transition: .5s all;
}
.animado3{
    opacity: 0;
    transition: .5s all;
}
.mostrarDerecha{
    animation: mostrarDerecha 1s;
}
.mostrarArriba{
    animation: mostrarArriba 1s;
}
.mostrarAbajo{
    animation: mostrarAbajo 1s;
}
@keyframes mostrarDerecha {
    0%{
        transform: translateX(-80px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes mostrarArriba {
    0%{
        transform: translateY(80px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes mostrarAbajo {
    0%{
        transform: translateY(-80px);
    }
    100%{
        transform: translateY(0);
    }
}
.container{
    &-presentation{
        background: linear-gradient(180deg, #2a2a2b 15%, rgba(63,63,66,1) 35%, rgba(63,63,66,1) 45%, rgba(42,42,43,1) 100%);
    }
    &-aboutMe{
        background: #111;
    }
    &-projects{
        background: linear-gradient(180deg, #2a2a2b 15%, rgba(63,63,66,1) 35%, rgba(63,63,66,1) 45%, rgba(42,42,43,1) 100%);
    }
}
.max-width{
    padding: 0 80px;
    margin: 0;
}
/* ---------------NAV------------------- */
.header{
    position: sticky;
    top: 0;
    z-index: 30;
    background-color: #4D5050;
    font-size: 16px;
    margin: 0;
    transition: .5s ease all;
    &.abajo{
        background-color: #e08f15;
    }
    &__nav{
        padding: .3em 2em;
        &__button{
            margin-left: auto;
            &:focus{
                color: transparent;
            }
        }
        &__list{
            margin-left: auto;
            &__item{
                margin-right: 1em;
            }
            & a{
                font-family: 'Ubuntu',sans-serif;                
                font-size: 1.1em;
                color: #FFF;
                transition: 0.5s ease all;
                &:hover{
                    color: #FFF;
                    text-shadow: 1px 0 0 #FFF;
                }
                &:focus{
                    color: #FFF;
                }
            }
        }
    }
    
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
    border:  2px solid #FFF;
}

/*----------------END NAV----------------- */

/* ---------------PRESENTATION-------------------- */
.presentation{
    min-height: 100vh;
    margin: 0 auto;
    font-size: 16px;
    &__description{
        display: flex;
        flex-direction: column;
        margin: auto 0;
        color:#fff;
        &__title{
            font-family: 'Ubuntu', sans-serif;            text-align: center;
            & p{
                font-size: 2em;
                font-family: 'Ubuntu', sans-serif;            text-align: center;
            }
            & h1{
                font-size: 4.5em;
            }
            &__welcome{
                font-weight: 600;
                font-style:normal;
                color: #ffa724;
            }
        }
        &__subTitle{
            margin: .4em 0;
            margin-left: auto;
            color: rgb(236, 230, 230);
            & h2{
                font-family: 'Nanum Gothic', sans-serif;
                font-size: 1.1em;
            }
        }
    }
    &__img {
        height: 24em;
        text-align: center;
        margin: auto 0;
        & img{ 
            height: 100%;
            border-radius: 30px;
            padding: 1em;
            transition: 1s ease all;
            &:hover {
                filter: drop-shadow(1px 1px 7px #dad6d6);
            }
        }
    }
}
/*----------------END PRESENTATION----------------- */


/* ---------------ABOUT ME-------------------- */
.aboutMe{
    font-size: 16px;
    min-height: 100vh;
    margin: 0 auto;
    color: #FFF;
    &__title{
        font-size: 2em;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        margin-top: 1em;
    }
    &__text{
        font-family: 'Nanum Gothic', sans-serif;
        font-style: oblique;
        font-size: 1.3em;
        text-align:justify;
    }
    &__information{
        margin: auto 0;
    }
    &__skills{
        margin: auto 0;
        &__container{
            display: grid;
            grid-template-columns: repeat(auto-fill ,minmax(80px,1fr) );
            overflow: hidden;
            padding: 1em;
            gap: 1.5em;
            &__logo{
                display: flex;
                flex-direction: column;
                align-items: center;
                & img{
                    width: 100%;
                    height: auto;
                    transition: 1.7s ease all;
                    &:hover{
                        transform: rotate(360deg);
                        filter: drop-shadow(1px 1px 4px #dad6d6);
                        cursor: pointer;
                    }
                }
                &__description{
                    color: #ffa724;
                    font-family: 'Ubuntu', sans-serif;                
                    font-style: oblique;
                    font-size: 0.9em;
                    text-align:center;
                    font-weight: 400;
                }
            }
        }
    }
}

/* ---------------END ABOUT ME-------------------- */
.sectionTitle{
    margin: 0;
    text-align: center;
    padding-top: 3em ;
    color: #FFF;
}
.projects{
    font-size: 16px;
    color: #FFF;
    padding: 2em 0;
    &__item{
        margin: 2em 0;
        &__image{
            background: url(../asetts/portfolio.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 22em;

        }
        &__description{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1em;
            &__title{
                font-size: 2em;
                font-family: 'Ubuntu', sans-serif;
                margin-top: 1em;
            }
            &__comment{
                font-family: 'Nanum Gothic', sans-serif;
                font-style: oblique;
                font-size: 1.1em;
                text-align:center;
            }
            &__button{
                text-decoration: none;
                font-family: 'Ubuntu', sans-serif;
                color: #ffa724;
                font-size: 1.2em;
                padding: .3em 2.5em;
                border: 2px solid #e08f15;
                border-radius: 20px;
                transition: .5s ease all;
                &:hover{
                    color: #FFF;
                    background-color: #e08f15;
                }
            }
        }
    }
}

/* FOOTER */
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4D5050;
    padding: .4em 0;
    font-size: 16px;
    &__info p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.4em; 
        color:#DCD8D8;
        margin: 0;
    }
    &__social{
        flex-direction: row;
        &__logo a i{
            margin: .1em .4em;
            font-size: 2.5em;
            color: #DCD8D8;
            &:hover{
                filter: drop-shadow(1px 0px  #DCD8D8);
                cursor: pointer;
            }
        }
    }
}


@media only screen and (max-width:575px) {
    .max-width{
        padding: 0 15px;
    }
    .presentation{
        font-size: 15px;
        padding: 2em 0;
        min-height: 50vh;
        &__description{
            &__title{
                & p{
                    font-size: 1.7em;
                }
                & h1{
                    font-size: 3.1em;
                }
            }
            &__subTitle{
                margin: .2em auto;
                & h2{             
                    font-size: 1.2em;
                    text-align: center;
                }
            }
        }
        &__img {
            height: 22em;
            margin: 0;
        }
    }
    .aboutMe{
        font-size: 14px;
        min-height: 50vh;
        &__title{
            margin-top: .4em;
        }
        &__text{
            padding: 0 .5em;
        }
        &__skills{
            &__container{
                grid-template-columns: 1fr 1fr ;
            &__logo{
                & img{
                    width: 8em;  
                }
                &__description{
                    font-size: 0.95em;
                }
            }
            }
            
        }
    }
    .projects{
        font-size: 14px;
        &__item{
            margin: 0;
            &__image{
                background-position:bottom;
                height: 18em;
                padding: 0;
    
            }
        }
    }
    .footer{
        font-size: 14px;
    }
}
@media only screen and (min-width:576px) and (max-width:767px) {
    .max-width{
        padding: 0 30px;
    }
    .presentation{
        font-size: 16px;
        min-height: 75vh;
        padding: 2em 0;
        &__img {
            height: 22em;   
        }
    }
    .aboutMe{
        font-size: 15px;
        &__title{
            margin-top: .4em;
        }
        &__skills{
            &__container{
                grid-template-columns: repeat(3,1fr);
                &__logo{
                    & img{
                        width: 7em;  
                    }
                    &__description{
                        font-size: 0.95em;
                    }
                }
            }
        }
    }
    .footer{
        font-size: 14px;
    }
}
@media only screen and (min-width:768px) and (max-width:992px) {
    .presentation{
        font-size: 15px;
        min-height: 60vh;
        &__img {
            height: 20em;   
        }
        &__description{
            
            &__title{
                & h1{
                    font-size: 4em;
                }
                
            }
        }
    }
    .aboutMe{
        font-size: 15px;
        &__title{
            margin-top: .4em;
        }
        &__skills{
            &__container{
                grid-template-columns: repeat(3,1fr);
                &__logo{
                    & img{
                        width: 7.5em;  
                    }
                    &__description{
                        font-size: 0.95em;
                    }
                }
            }
            
        }
    }
    .footer{
        font-size: 15px;
    }
}